beautifulsoup4==4.12.2
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
Flask==2.2.3
idna==3.4
importlib-metadata==6.5.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
lxml==4.9.2
MarkupSafe==2.1.2
morfeusz2==1.99.6
nltk==3.8.1
regex==2023.3.23
requests==2.28.2
Reverso-API==0.0.1b3
soupsieve==2.4.1
tqdm==4.65.0
urllib3==1.26.15
Werkzeug==2.2.3
zipp==3.15.0
